<app-header theme="dark"></app-header>

<main>
  <section id="dashboard">
    <div class="courseware" routerLink="/dashboard/courseware">
      <h4>Material didático</h4>
      <div class="divisor"></div>
      <img alt="Material didático" src="assets/dashboard-courseware.svg" />
    </div>

    <div class="quizz" routerLink="/dashboard/quizz">
      <h4>Quizz</h4>
      <div class="divisor"></div>
      <img alt="Quizz" src="assets/dashboard-quizz.svg" />
    </div>

    <div class="drawing" routerLink="/dashboard/drawing">
      <h4>Desenho</h4>
      <div class="divisor"></div>
      <img alt="Desenho" src="assets/dashboard-drawing.svg" />
    </div>

    <div class="youtube">
      <h4>Youtube</h4>
      <div class="divisor"></div>
      <img alt="Youtube" src="assets/dashboard-youtube.svg" />
    </div>
  </section>
</main>
