<section id="login">
  <img class="logo" alt="Trakto" src="assets/logo-login.svg" />
  <span><b>Olá, faça login em sua conta.</b></span>

  <form (ngSubmit)="handleLogin()" [formGroup]="loginForm" #formDir="ngForm">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        id="email"
        required
        type="email"
        formControlName="email"
        placeholder="Digite seu e-mail"
      />

      <div
        *ngIf="email?.invalid && formDir.submitted"
        class="form-validation-error"
      >
        <p *ngIf="email?.errors?.['required']">O e-mail é obrigatório!</p>
        <p *ngIf="email?.errors?.['email']">O e-mail está no formato errado!</p>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input
        id="password"
        required
        type="password"
        formControlName="password"
        placeholder="Insira sua senha"
      />

      <div
        *ngIf="password?.invalid && formDir.submitted"
        class="form-validation-error"
      >
        <p *ngIf="password?.errors?.['required']">A senha é obrigatória!</p>
      </div>
    </div>

    <button *ngIf="!isLoading">Entrar</button>

    <button *ngIf="isLoading" disabled>
      <app-loading size="small"></app-loading>
      Entrando...
    </button>
  </form>
</section>
