<app-header
  theme="light"
  environmentPath="/dashboard"
  [hasChangeEnvironmentButton]="true"
></app-header>

<main *ngIf="!isLoading && designs.length > 0">
  <img id="banner" alt="Trakto Edu" src="assets/courseware-banner.svg" />

  <section id="section-background">
    <div class="content">
      <div class="header">
        <div class="section-data">
          <div class="control">
            <span class="week">{{ getWeek() }}</span>

            <fa-icon id="icon" class="arrow-left" [icon]="leftArrowIcon" />
            <fa-icon id="icon" class="arrow-right" [icon]="rightArrowIcon" />
          </div>

          <span id="section-title">Material didático</span>

          <p id="section-description">
            Acesse suas últimas apresentações de aula.
          </p>
        </div>

        <button
          class="see-all"
          (click)="navigateTo('/dashboard/courseware/all')"
        >
          Ver todo conteúdo
        </button>
      </div>

      <div id="designs-container" class="designs">
        <app-design
          *ngFor="let design of designs"
          [design]="design"
        ></app-design>
      </div>
    </div>
  </section>
</main>

<main *ngIf="!isLoading && designs.length === 0">
  <img id="banner" alt="Trakto Edu" src="assets/courseware-banner.svg" />

  <section id="section-background">
    <div class="content">
      <div class="header">
        <div class="section-data">
          <span id="section-title">Material didático</span>

          <p id="section-description">
            Acesse suas últimas apresentações de aula.
          </p>
        </div>
      </div>

      <div id="designs-container" class="designs">
        <span id="section-without-content">Ainda não há nenhum registro criado!</span>
      </div>
    </div>
  </section>
</main>

<main *ngIf="isLoading">
  <app-loading type="cloudy"></app-loading>
</main>
