@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("./reset.css");

* {
  --violet: #4743ff;
  --white: #ffffff;
  --red: #ff0000;
  --yellow: #dec129;
  --cloudy: #7183a6;
  --light-cloudy: #e4ebfb;
  --dark-cloudy: #354564;
  --light-green: #1dc763;
  --light-pink: #f6b5ff;
  --light-gray: #d0daef;
  --dark-gray: #252323;
  --light-blue: #eff2f9;
  --blue: #0095ff;
  --dark-blue: #04183e;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: var(--light-blue);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  height: 100vh;
}

main {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: initial;
  margin: auto;
  padding-top: 70px;
  overflow-x: hidden;
  overflow-y: scroll;
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

b {
  font-weight: 700;
}

input,
button {
  outline: none;
}

section#section-background {
  width: 100%;
  height: auto;
  padding: 40px 0;
  display: flex;
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--white);
}

section#section-background #section-title {
  font-size: 20px;
  line-height: 50px;
  font-weight: 700;
  color: var(--dark-cloudy);
}

section#section-background #section-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--cloudy);
}

span#section-without-content {
  font-size: 18px;
  color: var(--dark-cloudy);
}

.form-validation-error {
  line-height: 18px;
  margin-top: 5px;
  padding-left: 5px;
  border-left: 1px solid var(--red);
  font-size: 14px;
  color: var(--red);
}
